:root {
    --primary-color: #000000;
    --secondary-color: #8bac0f;
    --tertiary-color: #306230;
    --quaternary-color: #0f380f;
    --text-color: #000000;
    --text-color-secondary: #ffffff;
    --gameboy-frame-image: url(../images/gameboy.png);
}

body {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#threejs-container {
    width: 800px;
    height: 600px;
}

#gameboyframe 
{
    background-image: var(--gameboy-frame-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    pointer-events: none;
}